@model List<Post>
@{
    ViewData["Title"] = "Anasayfa";
}

@foreach (Post post in Model)
{
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
            <div class="tm-post-link-inner">
                <img src="@post.ImagePath" alt="Image" class="img-fluid">
            </div>
            <span class="position-absolute tm-new-badge">New</span>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title"><a asp-action="Post" asp-controller="Home" asp-area="" asp-route-id="@post.Id">@post.Title</a></h2>
        </a>
        <p class="tm-pt-30">
            @*Gönderinin ilk 100 karakterini göster*@
            @if (post.PostDetail.Length > 100)
            {
                @post.PostDetail.Substring(0,100)
            }
            else
            {
                @post.PostDetail
            }

        </p>
        <div class="d-flex justify-content-between tm-pt-45">
            <span class="tm-color-primary">@post.Tags</span>
            <span class="tm-color-primary">@post.CreatedDate.Value.ToShortDateString()</span>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            @*<span>@post.Comments.Count</span>*@
            @*<span>@post.UserId</span>*@
        </div>
    </article>
}

@*
1. Yorum sayısı, yazar adı soyadı bilgilerini ana sayfada ilgili yazaıların kartında gösteriniz. Include() kullanarak.
2. Kategoriler sayfasını oluşturunuz. Tıpkı ana sayfa gibi kategori listesi gösteriniz.
3. Kategori adına tıklandığında o kategoriye ait posları ana sayfadaki liste şeklinde gösteriniz.
*@
